black==23.3.0
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
distlib==0.3.6
filelock==3.12.2
identify==2.5.24
idna==3.4
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.0
pre-commit==3.3.3
python-dotenv==1.0.0
PyYAML==6.0
requests==2.31.0
tomli==2.0.1
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.6.3
urllib3==2.0.3
virtualenv==20.23.1
